In [2]:
import librosa
import librosa.display
import IPython.display as ipd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
def plot(mfccs):
   
    plt.figure(figsize=(5, 2))
    librosa.display.specshow(mfccs, 
                             x_axis="time", 
                             sr=sr)
    plt.colorbar(format="%+2.f")
    plt.show()
    return mfccs

In [4]:
def mfcc_a(audio_file):
    signal, sr = librosa.load(audio_file)
    mfccs = librosa.feature.mfcc(y=signal, n_mfcc=14, sr=sr)
    mfccs_scaled_features = np.mean(mfccs.T,axis=0)
    return mfccs_scaled_features, signal

In [5]:
import os
'''
directory = 'D:\\Priya Mishra\\my_projects\\Wav files'
lm=[]
for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    if os.path.isfile(f):
        m=mfcc_a(f)
        lm.append(m)'''

"\ndirectory = 'D:\\Priya Mishra\\my_projects\\Wav files'\nlm=[]\nfor filename in os.listdir(directory):\n    f = os.path.join(directory, filename)\n    if os.path.isfile(f):\n        m=mfcc_a(f)\n        lm.append(m)"

In [7]:
directory = 'D:\\Priya Mishra\\my_projects\\Wav files'
l=[]
for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    if os.path.isfile(f):
        l.append(f)

In [9]:
s1=l[0:5]
s12=l[5:10]

In [10]:
ml=[]
sig=[]
d1=[]
ps=[]
for i in s1:
    h,aud=mfcc_a(i)
    ml.append([h])
    sig.append([aud])
    d1.append(h)
    ps.append(aud)
    print(len(ml))

1
2

In [8]:
"""i="D:\Priya Mishra\my_projects\Wav files\Ajoy Chakrabarty - Raag Abhogi.wav"
i="D:\Priya Mishra\my_projects\Wav files\Ajoy Chakrabarty - Malkauns.wav"
h,aud=mfcc_a(i)  
h.shape

aud.shape
len(sig)

"""

In [18]:
ml

[[array([-130.44264  ,  124.75439  ,  -25.909184 ,   17.528477 ,
           -6.0792623,    8.366293 ,  -14.07918  ,   -8.832988 ,
          -21.029907 ,   -6.610254 ,   -7.63176  ,   -8.419785 ,
           -7.9431334,   -5.044788 ], dtype=float32)],
 [array([-123.7456   ,  122.20147  ,  -27.748375 ,   16.356695 ,
           -9.18547  ,    6.205241 ,  -14.720456 ,   -9.045426 ,
          -21.243801 ,   -6.2939916,   -8.194044 ,   -8.296159 ,
           -8.411134 ,   -7.030266 ], dtype=float32)]]

In [20]:
len(ml)

2

In [21]:
import pandas as pd

In [33]:
ml

[[array([-130.44264  ,  124.75439  ,  -25.909184 ,   17.528477 ,
           -6.0792623,    8.366293 ,  -14.07918  ,   -8.832988 ,
          -21.029907 ,   -6.610254 ,   -7.63176  ,   -8.419785 ,
           -7.9431334,   -5.044788 ], dtype=float32)],
 [array([-123.7456   ,  122.20147  ,  -27.748375 ,   16.356695 ,
           -9.18547  ,    6.205241 ,  -14.720456 ,   -9.045426 ,
          -21.243801 ,   -6.2939916,   -8.194044 ,   -8.296159 ,
           -8.411134 ,   -7.030266 ], dtype=float32)]]

In [41]:
mfcc_all=pd.DataFrame(ml,columns=["feature"])

In [26]:
target=["Ahir Bhairov","Biaragi"]

In [28]:
mfcc_all=pd.DataFrame(target)

In [42]:
mfcc_all

                                             feature
0  [-130.44264, 124.75439, -25.909184, 17.528477,...
1  [-123.7456, 122.20147, -27.748375, 16.356695, ...

In [45]:
cls=pd.DataFrame(target,columns=["Raag"])

In [40]:
mfcc_all

                                             feature        target
0  [-130.44264, 124.75439, -25.909184, 17.528477,...  Ahir Bhairov
1  [-123.7456, 122.20147, -27.748375, 16.356695, ...       Biaragi

In [46]:
cls

           Raag
0  Ahir Bhairov
1       Biaragi

In [49]:
x=mfcc_all
x.shape

(2, 1)

In [50]:
y=cls
y.shape

(2, 1)

In [52]:
mfcc_all["targets"]=target

In [53]:
mfcc_all

                                             feature       targets
0  [-130.44264, 124.75439, -25.909184, 17.528477,...  Ahir Bhairov
1  [-123.7456, 122.20147, -27.748375, 16.356695, ...       Biaragi

In [64]:
for i in range(10):
     mfcc_all= mfcc_all.append(mfcc_all)

In [65]:
mfcc_all

                                              feature       targets
0   [-130.44264, 124.75439, -25.909184, 17.528477,...  Ahir Bhairov
1   [-123.7456, 122.20147, -27.748375, 16.356695, ...       Biaragi
0   [-130.44264, 124.75439, -25.909184, 17.528477,...  Ahir Bhairov
1   [-123.7456, 122.20147, -27.748375, 16.356695, ...       Biaragi
0   [-130.44264, 124.75439, -25.909184, 17.528477,...  Ahir Bhairov
..                                                ...           ...
1   [-123.7456, 122.20147, -27.748375, 16.356695, ...       Biaragi
0   [-130.44264, 124.75439, -25.909184, 17.528477,...  Ahir Bhairov
1   [-123.7456, 122.20147, -27.748375, 16.356695, ...       Biaragi
0   [-130.44264, 124.75439, -25.909184, 17.528477,...  Ahir Bhairov
1   [-123.7456, 122.20147, -27.748375, 16.356695, ...       Biaragi

[2048 rows x 2 columns]

In [63]:
mfcc_all.append(mfcc_all)

                                             feature       targets
0  [-130.44264, 124.75439, -25.909184, 17.528477,...  Ahir Bhairov
1  [-123.7456, 122.20147, -27.748375, 16.356695, ...       Biaragi
0  [-130.44264, 124.75439, -25.909184, 17.528477,...  Ahir Bhairov
1  [-123.7456, 122.20147, -27.748375, 16.356695, ...       Biaragi

In [ ]:
mfcc_all()

In [71]:
fgh=[[[-130.44264  ,  124.75439  ,  -25.909184 ,   17.528477 ,
           -6.0792623,    8.366293 ,  -14.07918  ,   -8.832988 ,
          -21.029907 ,   -6.610254 ,   -7.63176  ,   -8.419785 ,
           -7.9431334,   -5.044788 ]]]

In [72]:
ghi=pd.DataFrame(fgh)

In [73]:
ghi

                                                   0
0  [-130.44264, 124.75439, -25.909184, 17.528477,...

In [75]:
mfcc_all.shape

(2048, 2)

In [76]:
mfcc_all.reset_index(drop=True, inplace=True)

In [2]:

mfcc_all

NameError: name 'mfcc_all' is not defined

In [1]:
mfcc_all.to_csv('augumented.csv')

NameError: name 'mfcc_all' is not defined