In [1]:
# -*- coding: utf-8 -*-
"""
Created on Sun Feb 13 11:00:35 2022

@author: mishr
"""

import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
import tensorflow.keras as keras

X=np.array([[-130.44264  ,  124.75439  ,  -25.909184 ,   17.528477 ,
           -6.0792623,    8.366293 ,  -14.07918  ,   -8.832988 ,
          -21.029907 ,   -6.610254 ,   -7.63176  ,   -8.419785 ,
           -7.9431334,   -5.044788 ],[-123.7456,122.20147,-27.748375,16.356695,-9.18547,6.205241,-14.720456,-9.045426,-21.243801,-6.2939916,-8.194044,-8.296159,-8.411134,-7.030266 ]] )

y=np.array(["Raag Bairagi","Raag Aahir Bhairon"])

dfy=pd.DataFrame(y) 

for i in range(5):
     dfy= dfy.append(dfy)
     

dfy.reset_index(drop=True, inplace=True)


dfx=pd.DataFrame(X)

for i in range(5):
     dfx= dfx.append(dfx)
     

dfx.reset_index(drop=True, inplace=True)
X = dfx.to_numpy()
y= dfy.to_numpy()

In [2]:
X.shape

(64, 14)

In [3]:
from tensorflow.keras.utils import to_categorical
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()
y=to_categorical(labelencoder.fit_transform(y))

C:\Users\mishr\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [4]:
y.shape

(64, 2)

In [5]:
yh=y.reshape(-1,1)

In [6]:
yw=yh[0:65]

In [7]:
yw.shape

(65, 1)

In [8]:
yd=pd.DataFrame(y)

In [9]:
yd

      0    1
0   0.0  1.0
1   1.0  0.0
2   0.0  1.0
3   1.0  0.0
4   0.0  1.0
..  ...  ...
59  1.0  0.0
60  0.0  1.0
61  1.0  0.0
62  0.0  1.0
63  1.0  0.0

[64 rows x 2 columns]

In [10]:
yh=yd.drop(0,axis=1)

In [11]:
yu=yh.to_numpy()

In [12]:
yu.shape

(64, 1)

In [13]:
y=yu

In [18]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [15]:
from sklearn.neighbors import KNeighborsClassifier

classifer = KNeighborsClassifier()

model = classifer.fit(X, y)

C:\Users\mishr\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

In [26]:

from sklearn import metrics

In [27]:
knn = KNeighborsClassifier(n_neighbors=1)
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
print(metrics.accuracy_score(y_test, y_pred))

1.0

C:\Users\mishr\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

In [29]:
from sklearn.tree import DecisionTreeClassifier

In [30]:
DecisionTree_Class_Model = DecisionTreeClassifier()
DecisionTree_Class_Model.fit(X_train,y_train)

DecisionTreeClassifier()

In [31]:
y_pred = DecisionTree_Class_Model.predict(X_test)

In [32]:
pre = metrics.precision_score(y_test, y_pred, average='weighted')
pre

1.0